 @media (orientation: portrait) {
 .banner {
        width: 100%;
        margin-bottom: 46px;
        padding-top: 42px;
        padding-bottom: 114px;
        background-image: url(../images/banner-bg-tablet.jpg);
        
    }

    .banner-content {
        width: 100%;
        margin: 15px 0;
    }

    .logo {
        width: 100%;
    }

    .logo-image {

        height: 35px;
    }

    .menu {
        display: none;
    }

    .main-title {
        font-size: 40px;
        line-height: 1.4;
        padding-top: 80px;
    }

    .trends {
        width: 100%;
        box-sizing: border-box;
    }

    .trends-title {
        font-size: 16px;
        margin: 40px 0 40px;
    }

    .trends-title::after {
        margin-top: 11px;
    }

    .trend {
        padding: 28px;
        margin: 16px;
    }

    .trends-content {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        gap: 4px;
    }

    .trend-article {
        width: calc(50% - 4px);
        height: 232px;
        padding: 0;
    }

    .trend-name {
        font-size: 16px;
    }

    .content-container {
        width: 100%;
        box-sizing: border-box;
        gap: 20px;
      
    }

    .main-content {
        width: calc(100% - 25px - 272px);
        margin-right: 25px;
    }
    .side-bar {
        width: 272px;
    }

    .post {
        flex-direction: column;
        margin-top: 30px;
        border-bottom: 3px solid #eeeeee;
    }

    .post-picture {
        width: 100%;
        height: auto;
    }

    .post-content {
        width: 100%;
        margin-left: 0;
        height: auto;
        padding: 15px 0;
    }

    .post-info {
        margin: 15px 0;
    }

     .shop {
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }
    .shop-content {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      
        gap: 30px;
    }

     .shop-prouct-card {
        width: calc((100% - 30px) / 2);
       
        margin-top: 10px;
    }
    
    .prouct-content {
        outline-offset: 10px;
    }

    .social {
        width: 100%;
    }

    .footer-container {
        margin-top: 30px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }

    .pop-up-content {
        width: 90%;
        padding: 30px 20px;
    }

    .text-area {
        width: 100%;
    }

    .search-form,
    .subscribe-form {
        width: 100%;
    }

    .search-field {
        width: 100%;
    }
  .burger {
        display: block;
        cursor: pointer;
        z-index: 1;
        align-self: end;
    } 
 }

 @media (orientation: landscape) {
    .banner {
        width: 100%;
        margin-bottom: 46px;
        padding-top: 42px;
        padding-bottom: 114px;
        background-image: url(../images/banner-bg-tablet.jpg);
        
    }

    .banner-content {
        width: 100%;
        margin: 15px 0;
    }

    .logo {
        width: 100%;
    }

    .logo-image {

        height: 35px;
    }

    .menu {
        display: none;
    }

    .main-title {
        font-size: 40px;
        line-height: 1.4;
        padding-top: 80px;
    }

    .trends {
        width: 100%;
        box-sizing: border-box;
    }

    .trends-title {
        font-size: 16px;
        margin: 40px 0 40px;
    }

    .trends-title::after {
        margin-top: 11px;
    }

    .trend {
        padding: 28px;
        margin: 16px;
    }

    .trends-content {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        gap: 4px;
    }

    .trend-article {
        width: calc(25% - 4px);
        height: 232px;
        padding: 0;
    }

    .trend-name {
        font-size: 16px;
    }

    .content-container {
        width: 100%;
        box-sizing: border-box;
        gap: 20px;
      
    }

    .main-content {
        width: calc(100% - 25px - 272px);
        margin-right: 25px;
    }
    .side-bar {
        width: 272px;
    }

    .post {
        flex-direction: column;
        margin-top: 30px;
        border-bottom: 3px solid #eeeeee;
    }

    .post-picture {
        width: 100%;
        height: auto;
    }

    .post-content {
        width: 100%;
        margin-left: 0;
        height: auto;
        padding: 15px 0;
    }

    .post-info {
        margin: 15px 0;
    }

     .shop {
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }
    .shop-content {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      
        gap: 30px;
    }

    .shop-prouct-card {
        width: calc((100% - 30px) / 2);
       
        margin-top: 10px;
    }
    
    .prouct-content {
        outline-offset: 10px;
    }

    .social {
        width: 100%;
    }

    .footer-container {
        margin-top: 30px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }

    .pop-up-content {
        width: 90%;
        padding: 30px 20px;
    }

    .text-area {
        width: 100%;
    }

    .search-form,
    .subscribe-form {
        width: 100%;
    }

    .search-field {
        width: 100%;
    }
  .burger {
        display: block;
        cursor: pointer;
        z-index: 1;
        align-self: end;
    }
 }